*{
    background-color: #191919;
    color: #DBD1BC;
    padding: 0;
    margin: 0;
}

body{
    padding-top: 10vh;
    align-content: center;
}

@font-face {
    font-family: 'DinCondensed';
    src: url(./fonts/D-DINCondensed.otf);
}

@font-face{
    font-family: 'JetBrains';
    src: url(./fonts/JetBrainsMono-Regular.ttf);
}

@font-face{
    font-family: 'DinCondensedBold';
    src: url(./fonts/din-condensed-bold.ttf);
}

.logo-div{
    display: flex;
    gap: 5px;
    font-family: 'DinCondensed';
    color: #E0CBA1;
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.logo-icon{
    color: #E0CBA1;
    height: calc(5vw + 0.8rem);
}

.title{
    font-size: calc(2.5vw + 1rem);
    color:#E0CBA1 ;
    white-space: nowrap;
}

/** Instructions and Input Bar Styling **/
.form-container{
    container-type: inline-size;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.instructions {
    color: #DACACA;
    font-family: 'JetBrains';
    font-weight: 550;
    font-size: 4cqw;
}

.input-bars{
    margin-top: 2vw;
    display: grid;
    place-items: center;
    gap: 30px;
}

.input{
    width: 90%;
    border: 2px solid #DDDDDD;
    color: #DBD1BC;
    font-family: 'JetBrains';
    outline: none;
    height: calc(2vw + 0.8rem);
    border-radius: 8px;
    text-align: center;
    line-height: normal;
    padding: 1.5vh 0;
    font-size: 1.5rem;
}

.input::placeholder{
    font-size: calc(0.5vw + 0.8rem);
    opacity: 0.6;
    line-height: normal;
}


.button-container{
    width: 90%;
    align-self: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 2vh;
}

.toggle-button{
    width: 15%;
    border: #FABD3E 2px solid;
    border-radius: 999px;
    color: #FABD3E;
    font-style: 'JetBrains';
    font-weight: 600;
}

.toggle-button:hover{
    border: 3px solid #FABD3E;
    cursor: pointer;
}

.toggle-button.is-pm{
    border: none;
    color: #191919;
    background-color: #FABD3E;

}

.submit-button{
    border: none;
    border-radius: 8px;
    font-weight: 600;
    color: #262626;
    background-color: #FABD3E;
    font-family: 'JetBrains';
    text-align: center;
    width: fit-content;
    padding: 0.8vw 2.5vw;
    font-size: 1rem;
    cursor: pointer;
}

.submit-button:hover{
    opacity: 0.9;
}


.time-container{
    display: none;
    font-family: 'DinCondensed';
    color: #DDDDDD;
    font-size: 1.2rem;
}

.time{
    color: #FABD3E;
    font-family: 'JetBrains';
    font-size: calc(3vw + 1rem);
    margin-left: 1vw;
    margin-right: 0.2rem;
}

.footer{
    font-family: 'DinCondensed';
    font-size: 1.2rem;    
    bottom: 0;
    left: 0;
    position: absolute;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.warning-container{
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-family: 'DinCondensed';
    font-size: 1.1rem;
}

.example{
    margin-top: 0.2rem;
    font-size: 1rem;
    color: #a39f9f;
}