*{
    background-color: #1E1E1E;
    color: #DBD1BC;
}
@font-face {
    font-family: 'DinCondensed';
    src: url(./fonts/D-DINCondensed.otf);
}

@font-face{
    font-family: 'JetBrains';
    src: url(./fonts/JetBrainsMono-Regular.ttf);
}

@font-face{
    font-family: 'DinCondensedBold';
    src: url(./fonts/din-condensed-bold.ttf);
}