*{
    background-color: #191919;
    color: #DBD1BC;
    padding: 0;
    margin: 0;
}

body{
    align-content: center;
}

@font-face {
    font-family: 'DinCondensed';
    src: url(./fonts/D-DINCondensed.otf);
}

@font-face{
    font-family: 'JetBrains';
    src: url(./fonts/JetBrainsMono-Regular.ttf);
}

@font-face{
    font-family: 'DinCondensedBold';
    src: url(./fonts/din-condensed-bold.ttf);
}

.logo-div{
    display: flex;
    gap: 5px;
    font-family: 'DinCondensed';
    color: #E0CBA1;
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.logo-icon{
    color: #E0CBA1;
    height: calc(5vw + 0.8rem);
}

.title{
    font-size: calc(2.5vw + 1rem);
    color:#E0CBA1 ;
    white-space: nowrap;
}

/** Instructions and Input Bar Styling **/
.form-container{
    container-type: inline-size;
    width: 50%;
    border: #fff 5px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.instructions {
    color: #DACACA;
    font-family: 'JetBrains';
    font-weight: bold;
    font-size: 4cqw;
}
